<form action="/days" method="GET">

<table class="table table-striped table-dark">
<thead>
  <tr>
    <th>Days</th>
    <th>Waiters</th>
    </tr>
</thead>
<tbody>
{{#each display}}
<tr>
  <td class="{{this.color}}">{{this.day}}</td>
  <td>

{{#each waiters}}

  <div class="item">
    <h6>{{this.waiter}}</h6>
  </div>
{{/each}}
  </td>
</tr>
{{/each}}
  </tbody>
  

</table>



</form>

<form action="/reset" method="POST">

  {{#if messages.reset}}
  <div class="entry text-success">
    <p> {{messages.reset}}</p>
  </div>
  {{/if}}

<button type="submit" name="reset" class="btn btn-dark">Clear All
</button>

</form>