<div class="home">
<div class="col-md-12 text-center">
<a href="/waiters/">
<button class="btn btn-primary">Waiters</button></a>

<a href="/admin">
<button class="btn btn-dark">Admin</button></a>
</div>
</div>