<div class="container">
<div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<form action="/waiters/:nameItem" method="POST" class="custom-centered">

<div><p class="text-primary">Waiter booking</p></div>

<div class="form-row">
<div class="col-md-12 mb-3">
<input type="text" name="nameItem" placeholder="enter name" class="form-control" id="validationTooltip03">
     </div>
     </div>

 {{#if messages.info}}
  <div class="alert alert-danger">
    <p> {{messages.info}}</p>
  </div>
  {{/if}}

  {{#if messages.check}}
  <div class="entry text-danger">
    <p> {{messages.check}}</p>
  </div>
  {{/if}}

  {{#if messages.shift}}
  <div class="alert alert-success">
    <p> {{messages.shift}}</p>
  </div>
  {{/if}}

<div class="checks" name="checkbox" id="checkbox">
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1" value="1" name="checkbox">
  <label class="custom-control-label" for="customCheck1"><p class="text-info">Monday</p></label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck2" value="2" name="checkbox">
  <label class="custom-control-label" for="customCheck2"><p class="text-info">Tuesday</p></label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck3" value="3" name="checkbox">
  <label class="custom-control-label" for="customCheck3"><p class="text-info">Wednesday</p></label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck4" value="4" name="checkbox">
  <label class="custom-control-label" for="customCheck4"><p class="text-info">Thursday</p></label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck5" value="5" name="checkbox">
  <label class="custom-control-label" for="customCheck5"><p class="text-info">Friday</p></label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck6" value="6" name="checkbox">
  <label class="custom-control-label" for="customCheck6"><p class="text-info">Saturday</p></label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck7" value="7" name="checkbox">
  <label class="custom-control-label" for="customCheck7"><p class="text-info">Sunday</p></label>
</div>
</div>

<button type="submit" name="sub" class="btn btn-primary">Submit
</button>

</form>

</div>
</div>
  </div>
  
