<div class="container">
<div><p>Waiter booking</p></div>

<form action="/waiters/:username" method="POST">
<input type="text" name="nameItem" placeholder="enter name" class="nameElem">

<div class="checkbox">
<input type="checkbox" value="Monday" valueone="1">
<input type="checkbox" value="Tuesday" valuetwo="1">
<input type="checkbox" value="Wednesday" valuethree="1">
<input type="checkbox" value="Thursday" valuefour="1">
<input type="checkbox" value="Friday" valuefive="1">
</div>

<input type="submit" value="submit" name="sub">
</form>
</div>
