<p>Admin Login</p>

<form action="/login" method="POST">

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">Username</span>
  </div>
  <input type="text" name="userLogin" class="form-control" placeholder="(Username is Admin)" required>
</div>

<div class="input-group mb-3">
  <input type="text" name="password" class="form-control" placeholder="Enter administrator password (Password is admin123)" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">Login</button>
  </div>
</div>

{{#if messages.login}}
  <div class="alert alert-danger">
    <p> {{messages.login}}</p>
  </div>
  {{/if}}

</form>

<a href="/home">Home</a>
