.container{
    text-align: centre;
    padding-top: 3em;
}

.custom-control{
    padding:0.2em
}

.custom-centered{
    margin:0 auto;
    width:300px;
}

.btn{
  display:flex
}

.bg-warning {
  background-color: orange;
  font-weight: bold;
}

.bg-danger {
  background-color: crimson;
  font-weight: bold;
}

.bg-green{
    background-color:green;
    font-weight: bold;
} 

/*.square{
  background-color: green;
  border-radius: 2em;
  width: 2em;
}

.square2{
  background-color: red;
  border-radius: 2em;
  width: 2em;
}

.square3{
  background-color:orange;
  border-radius: 2em;
  width: 2em;
}*/

.entry{
    font-size: 20px;
    }

    body {
        background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
